:root {
    --primary: #436850;
    --bg: #010101;
  }
  
  * {
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
  }
  
  body {
    font-family: "poppins", sans-serif;
    background-color: var(--bg);
    color: #fff;
    height: 100%;
  }
  
  /* navigasi bar */
  
  
  /*landing page/hero */
  /* .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 110px;
    right: 275px;
    position: relative;
    background-color: lightsalmon;
  }
  
  
  .hero .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
    background-color: light;
    background-color: ;
  }

  .isi-content{
    background-color: rgb(156, 186, 204);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .box-judul{
  
  }

  .box-judul h1{
    font-size: 100px;
  }

  .box-subjudul p{
    font-size: 50px;
  } */

  .content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 110px;
    margin-right: 275px;
  }

  .box-content{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items:start;
    justify-content: center;
    height: 1500px;
  }

  .box-telepon{
    border-radius: 20px;
    border:  1px solid #12372a;
    padding: 30px 30px 30px 30px;
    margin: 20px;
    box-shadow: 0px 0px 20px 5px #12372a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }

  .box-telepon img{
    height: 100px;
    margin-bottom: 20px;
  }

  .box-telepon h1{
    font-size: 30px;
    margin-bottom: 20px;
  }

  .box-telepon h2{
    font-size: 20px;
    margin-bottom: 5px;
  }

  .box-telepon p{
    font-size: 14px;
    margin-bottom: 15px;
  }

  .box-instagram{
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 370px;
    border-radius: 20px;
  }

  .box-instagram img{
    height: 50px;
  }

  .box-email{
    background-color: lightpink;
    height: 370px;
    border-radius: 20px;    
  }

  .box-judul p{
    font-size: 50px;
    font-weight: 700;
  }

  .box-subjudul{
    padding: 0px 20px 30px 10px;
  }

  .box-subjudul p{
    font-size: 23px;
  }


  
  
  /* SIDEBAR */
  .sidebar{
    position: fixed;
    right: 10px;
    top: 110px;
    bottom: 0;
    width: 250px;
  }
  
  .sidebar-profil{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    border: 1px solid rgb(18, 55, 42);
    border-radius: 10px;
    padding: 20px 10px 20px 10px;
    margin-bottom: 10px;
  }
  
  .profil{
    width: 200px;
    border-radius: 50%;
    align-items: center;
  }
  
  .isi-profil{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: start;
  }
  
  .isi-profil p{
    margin-top: 5px;
    font-size: 12px;
  }
  
  .nama-email{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: -10px;
    padding-bottom: 10px;
    font-size: 12px;
  }
  
  .desc-profil .sub-info{
    font-weight: 900;
    font-size: 16px;
  }

  /* FOOTER */
  footer{
    position:relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: 0;
    background-color: black;
    border: 1px solid rgb(18, 55, 42);
    bottom: 0;
    height: 100PX;
}

.footer .navbar-logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    font-style: italic;
    padding-right: 10px;
  }
  
.footer .navbar-logo span {
    color: var(--primary);
}
  

  
  /*media responsif media queries*/
  /* laptop */
    /* @media (max-width: 1366px) {
      html {
        font-size: 75%;
      }
    } */
  
  /*tablet*/
    /* @media (max-width: 758px) {
      html {
        font-size: 62.5%;
      }
  
      #hamburger-menu {
        display: inline-block;
      }
  
      .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
      }
  
      .navbar .navbar-nav.active {
        right: 0;
      }
  
      .navbar .navbar-nav a {
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
      }
  
      .navbar .navbar-nav a::after {
        transform-origin: 0 0;
      }
  
      .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
      }
    } */
  
  /* mobile phone*/
    /* @media (max-width: 450px) {
      html {
        font-size: 55%;
      }
    } */
  